<div class="container">
  <footer class="py-3 my-4 border-top">
    <div class="nav justify-content-center">
      <span class="text-muted">&copy; {{current_year}} Angel Umana</span>
      <ul class="nav list-unstyled">
        <li class="ms-3"><a class="text-muted" target="blank_" href="https://github.com/ibidyouadu"><i class="fa fa-github"></i></a></li>
        <li class="ms-3"><a class="text-muted" target="blank_" href="https://twitter.com/banach_"><i class="fa fa-twitter"></i></a></li>
      </ul>
  </footer>
</div>
