{% load static %}
<div class="container col-10 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-sm-10 col-lg-6">
      <img src="{% static 'images/angel.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800" height="533" loading="lazy">
    </div>
    <div class="col-sm-10 col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">ABOUT ME</h1>
      <p class="lead">I am an associate data scientist at <a class="text-primary text-decoration-none" target="blank_" href="https://rare.org">Rare</a>. I do full stack web development and data analysis to produce results that have tangible impacts on coastal communities and marine conservation. Currently, I am working on:</p>
      <ul class="lead">
        <li>Developing a website for our users to access financial data.</li>
        <li>Maintaining our dashboards for monitoring ecological and socioeconomic trends.</li>
        <li>Maintaining the <a class="text-primary text-decoration-none" target="blank_" href="https://portal.rare.org/en/program-resources/ourfish/">OurFish</a> outlier flagging tool.</li>
      </ul>
      <p class="lead">My goals are to improve my skills in statistics, exploratory data analysis, data viz, and machine learning. I plan to eventually use this data utility belt to tackle problems in quantum computing and nuclear energy.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-secondary btn-lg px-4" target="blank_" href="{% static 'Angel_Umana_resume.pdf'%}">View resume</a>
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
      </div>
    </div>
  </div>
</div>
